body {
    background-color: rgb(49, 49, 49);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: rgb(34, 34, 34);
    margin: 10vh auto;
    width: 500px;
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}

.header {
    color: #666;
    margin: 1rem;
}

input {
	width: 370px;
	padding: 0.5rem 2rem;
	font-size: 3rem;
	border-radius: 10px;
	text-align: right;

	background-color: #272727;
	color: #666;
}

.btn-wrap {
    margin: auto;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button {
    font-size: 25px;
    margin: 0.5rem;
    width: 95px;
    height: 95px;
    text-align: center;
    border-radius: 10%;

    font-weight: 900;
    background-color: #272727;
    color: #666;
}

.hidden {
    visibility: hidden;
}